* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#tudo {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.cor {
  width: 100%;
  height: 267px;
  background: linear-gradient(
    178deg,
    rgba(27, 50, 109, 1) 0%,
    rgba(175, 183, 204, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.cabeçalho {
  display: flex;
  justify-content: center;
}
.peso {
  margin-top: 33px;
}
.voltar {
  border: 3px solid white;
  border-radius: 100%;
  position: fixed;
  right: 23px;
  top: 72px;
  width: 50px;
  height: 50px;
}

.conteudo {
  background: rgb(255, 255, 255);
  gap: 10px;
  width: 100%;
  height: 664px;
  border-radius: 81px 81px 0px 0px;
  box-shadow: 2px -4px 30px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -4px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -4px 30px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.informacao_pai {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.informacao {
  padding-left: 20px;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.informacao p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

.informacao_inferior {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
}
.conta {
  display: flex;
  flex-direction: row;
}
.informacao_inferior p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  color: #1b326d;
}
.baixo {
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app {
  width: 112px;
  height: 112px;
}
.linha {
  height: 95px;
  border-right: 1px solid black;
}
.gym {
  width: 109px;
  height: 61px;
}
a {
  text-decoration: none;
}
