* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tudo {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 143px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.25);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  width: 426px;
}

#direita {
  display: flex;
  flex-direction: row;
}
.seta {
  position: fixed;
  width: 52px;
  left: 30px;
  top: 30px;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 172px;
}

.app {
  width: 107px;
}
.gym {
  width: 105px;
  height: 100px;
}

.pcadastro {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #a6368a;
  display: flex;
  gap: 20px;
  margin: 20px;
}

input {
  width: 280px;
  height: 48px;
  border-radius: 9px;
  font-size: 20px;
}

.conteudo {
  width: 365px;
  height: 503px;
  border-radius: 12px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.cadastrarse {
  font-size: 20px;
  width: 280px;
  height: 48px;
  border-radius: 9px;
  background-color: #1b326d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.cadastrarse p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
}

.svg {
  width: 89vw;
  height: 255px;
  display: flex;
  justify-content: left;
  fill: #1b326d;
  position: fixed;
  bottom: 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
