#tudo {
  display: flex;
  gap: 30px;
}
input {
  width: 280px;
  height: 48px;
  border-radius: 9px;
  font-size: 20px;
}

.pcadastro {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #a6368a;
  display: flex;
  justify-content: center;
}

.cadastrarse {
  font-size: 20px;
  width: 280px;
  height: 48px;
  border-radius: 9px;
  background-color: #1b326d;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
}
form {
  width: 100%;
  border-radius: 12px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.svg {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.svg img {
  width: 240px;
}

.modal {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: #575757;
  border: 6px solid black;
  color: rgb(0, 0, 0);
  padding: 30px;
}

.back-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.disable {
  display: none;
}
