* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#tudo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 50px;
}
.cabecalho_inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 100%;
  gap: 20px;
  background-color: #e5e5e5;
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.25);
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 172px;
}

#linha {
  height: 95px;
  border-right: 1px solid black;
}

.app {
  width: 172px;
  height: 172px;
  background-size: cover;
}

.gym {
  width: 168px;
  height: 180px;
  background-size: cover;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.cima {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
#entrar {
  background-color: #1b326d;
  height: 39px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}
#cadastrar {
  background-color: #a6368a;
  height: 39px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
#sobre {
  background: #1b326d;
  background: linear-gradient(
    90deg,
    rgba(27, 50, 109, 1) 0%,
    rgba(168, 44, 137, 1) 100%
  );

  height: 39px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

a {
  text-decoration: none;
}
.imagem {
  width: 100%;
}
.caixas {
  width: 175px;
}
