input {
  width: 280px;
  height: 48px;
  border-radius: 9px;
  font-size: 20px;
  padding-left: 10px;
}

.plogin {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #a6368a;
  display: flex;
  justify-content: center;
}

.login {
  font-size: 20px;
  width: 280px;
  height: 48px;
  border-radius: 9px;
  background-color: #1b326d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
  text-decoration: none;
}

.conteudo {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 266px;
  flex-direction: column;
  margin-top: 20px;
}
form {
  width: 365px;
  height: 266px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.svg {
  width: 100vw;
  display: flex;
  justify-content: right;
}
.svg img {
  width: 100vw;
  height: 494px;
}

.modal {
  width: 377px;
  height: 230px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 6px solid black;
  color: rgb(0, 0, 0);
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.modal h1 {
  color: #ff0000;
}
.modal p {
  color: #1b326d;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
}

.back-modal {
  width: 100vw;
  height: 1531px;
  position: fixed;
  margin-bottom: 16%;
  background-color: #1b326d;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
}

.disable {
  display: none;
}
input::placeholder {
  color: var(--ph-color);
}
